<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página administrativa - Inicio</title>
    <style>
      
h1 {
            text-align: center;
            margin-top: 50px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            margin-bottom: -150px;
           
    }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Establece la altura al 100% de la ventana del navegador */
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #906FC3;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.menu li a:hover {
    background-color: #519eb8;
}

.volver {
    display: block;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #906FC3;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.volver:hover {
    background-color: #519eb8;
}

    </style>
</head>
<body>
    <h1>Página Administrativa</h1>
    <div class="container">
        
        <ul class="menu">
            <li><a href="/admin/integrantes/listar">Integrantes</a></li>
            <li><a href="/admin/media/listar">Media</a></li>
            <li><a href="/admin/tipo_media/listar">Tipo media</a></li>
        </ul>   

        <a href="/" class="volver">Volver</a>
    </div>
</body>


</html>