<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Creación</title>
    <style>
        body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    text-align: center;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

form {
    width: 80%;
    margin: 0 auto;
}

fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
}

a:hover {
    color: #0056b3;
}

#error-message {
    color: red;
    margin-bottom: 10px;
}

    </style>
</head>
<body>
    <h1>Crear Nuevo Media</h1>
    <section>
        <p>{{mensaje}}</p>
    </section>                                        
    <form action="/admin/media/create" method="post" enctype="multipart/form-data" id="mediaForm">
    <fieldset>
        <legend>Media</legend>
        <label for="nombre">Tipo de Medio:</label>
        <select id="nombre" name="nombre" onchange="showFields()">
            {{#each nombre}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        
        <div id="archivoFields" style="display: none;">         
            <label for="archivo">Seleccionar Archivo:</label>
            <input id="archivo" name="url" type="file">
        </div>

        <div id="textoFields" style="display: none;">
            <label for="texto">Texto:</label>
            <textarea id="texto" name="texto">{{media.texto}}</textarea>
        </div>

        <label for="titulo">TITULO</label>
        <input id="titulo" name="titulo" type="text" value="{{media.titulo}}">

     
       <label for="matricula">Matrícula:</label>
        <select id="matricula" name="matricula" value="{{media.matricula}}">
            {{#each matriculas}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <label for="matricula">Matrícula:</label>
        
        <label for="borralog">Estado</label>
        <select id="borralog" name="borralog">
            <option value="FALSE">Activo</option>
            <option value="TRUE">Inactivo</option> 
        </select>
    </fieldset>
    <input type="submit" value="Crear">
</form>
<!--funcion para renderizar file si es imagen y text si es Youtube-->
<script>
    function showFields() {
        var selectedOption = document.getElementById("nombre").value;
        var archivoFields = document.getElementById("archivoFields"); //("archivo")
        var textoFields = document.getElementById("textoFields");

        if (selectedOption === "Youtube") {
            archivoFields.style.display = "none";
            textoFields.style.display = "block";

            // Desactivar el input de archivo

            document.getElementById("archivo").disabled = true;
        } else {
            archivoFields.style.display = "block";
            textoFields.style.display = "none";

            // Activar el input de archivo
            document.getElementById("archivo").disabled = false;
        }
    }
</script>

    <a href="/admin/media/listar">Volver al listado</a>
    
</body>
</html>