<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado Media</title>
     <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
        }

        h1 {
            text-align: center;
            margin-top: 20px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }

        section {
            margin: 20px auto;
            width: 90%;
            overflow-x: auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border: 5px solid /*#ddd*/ #AA6EB8;
            background-color: #ffffff;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #000000;
        }

        th {
            background-color:#906FC3;
            
        }

        tr:hover {
            background-color: #eeeeee;
            /**#D66BA3*/
        }

        img {
            display: block;
            margin: 0 auto;
        }
        .contenedor-botones {
        display: flex;
        justify-content: center;
        align-items: center; 
        }

  
        .contenedor-botones a {
        text-decoration: none;
        text-align: center;
        padding: 11px 30px;
        border: none;
        border-radius: 10px;
        font: 13px Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #ffffff;
        background-color: #b54e4e;
        background-image: -moz-linear-gradient(top, #b54e4e 0%, #519eb8 100%);
        background-image: -webkit-linear-gradient(top, #b54e4e 0%, #519eb8 100%);
        background-image: -o-linear-gradient(top, #b54e4e 0%, #519eb8 100%);
        background-image: -ms-linear-gradient(top, #b54e4e 0%, #519eb8 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#519eb8', endColorstr='#519eb8', GradientType=0);
        background-image: linear-gradient(top, #b54e4e 0%, #519eb8 100%);
        -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 2px #ffffff;
        -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 2px #ffffff;
        box-shadow: 0px 0px 2px #bababa, inset 0px 0px 2px #ffffff;
        }

    </style>
</head>
<body>
    <h1>Listado - Media</h1>
    <section>
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>URL</th>
                <th>Titulo</th>
                <th>Matricula</th>
                <th>Estado</th>
                <th>Orden</th>
                <th>Acciones</th>
            </tr>
            {{#each media}}
                <tr>
                    <td><a href="/admin/media/edit/{{id}}">{{id}}</a></td>
                    <td>{{nombre}}</td>
                    <td>
                    {{#if texto}}
                        <iframe width="130" height="80" src="{{url}}" frameborder="0" allowfullscreen></iframe>
                    {{else}}
                        <img src="{{url}}" alt="" width="90" height="60">
                    {{/if}}
                    </td>
                    <!--<td><iframe width="90" height="60" src="https://img.youtube.com/vi/{{texto}}/default.jpg}}" frameborder="0" allowfullscreen></iframe></td>-->
                    <td>{{titulo}}</td>
                    <td>{{matricula}}</td>
                    <td> 
                        {{#if borralog}}
                            ACTIVO
                        {{else}}
                            INACTIVO
                        {{/if}}
                    <td>{{orden}}</td>
                    <td><form action="/admin/media/delete/{{id}}" method="post">
                    <input type="submit" value="Eliminar">
                    </form>
                    </td>
                </tr>
            {{/each}}
        </table>  
    </section>
    <div class="contenedor-botones">
        <a href="/admin" class="boton-volver">Volver</a>
        <a href="/admin/media/crear" class="boton-crear">Crear Nuevo</a>
    </div>

    
</body>
</html>