<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Cloud</title>
    <link rel="stylesheet" href="/assets/css/word_cloud.css">
</head>

<body>
<div class="container-navbar">
    {{>nav}}
</div>

<section class="word_cloud">
    <ul class="cloud" aria-label="Webdev word cloud">
        <li><a href="#" data-weight="4">Colaboración</a></li>
        <li><a href="#" data-weight="1">Empatía</a></li>
        <li><a href="#" data-weight="5">Innovación</a></li>
        <li><a href="#" data-weight="8">Resiliencia</a></li>
        <li><a href="#" data-weight="6">Creatividad</a></li>
        <li><a href="#" data-weight="4">Adaptabilidad</a></li>
        <li><a href="#" data-weight="5">Comunicación</a></li>
        <li><a href="#" data-weight="6">Confianza</a></li>
        <li><a href="#" data-weight="2">Compromiso</a></li>
        <li><a href="#" data-weight="9">Superación</a></li>
        <li><a href="#" data-weight="3">Solidaridad</a></li>
        <li><a href="#" data-weight="7">Inspiración</a></li>
        <li><a href="#" data-weight="8">Gratitud</a></li>
        <li><a href="#" data-weight="1">Optimismo</a></li>
        <li><a href="#" data-weight="3">Determinación</a></li>
    </ul>
</section>
{{>footer}}
</body>
</html>