<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Tipo Media</title>
    <style>
        body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7; /* Color de fondo */
}
/* Estilo para el contenedor de la sección */
section {
    padding: 20px; /* Agrega espacio alrededor del contenido */
    text-align: center;
}

/* Estilo para el párrafo dentro de la sección */
section p {
    font-size: 16px; /* Tamaño del texto */
    color: #ff0000; /* Color del texto */
    /* Otros estilos de texto según sea necesario */
}

h1, h2 {
    
        text-align: center;
        margin-top: 20px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}

form {
    width: 80%;
    margin: 20px auto;
    background-color: #fff; /* Color de fondo del formulario */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

fieldset {
    border: none;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666; /* Color del texto de las etiquetas */
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave */
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Cambio de color al pasar el ratón */
}
.button-container {
    text-align: center;
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

.button a{
    idth: 100%;
    padding: 10px;
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave */
}

.button a:hover {
     background-color: #0056b3;
}



    </style>
</head>
<body>
    <h1>Crear nuevo</h1>
    <h2>Tipo - Media</h2>
    <section>
        <p>{{mensaje}}</p>
    </section>
    <form action="/admin/tipo_media/create" method="post">
    <fieldset>
        <legend>Tipo Media</legend>

        <label for="nombre">Nombre</label>
        <input id="nombre" name="nombre" type="text" value="{{tipomedia.nombre}}">

        <label for="borralog">Estado</label>
        <select id="borralog" name="borralog">
        <option value="FALSE">Activo</option>
        <option value="TRUE">Inactivo</option> 
    </fieldset>
    <input type="submit" value="Crear">
    </form>
    <div class="button-container">
    <a href="/admin/tipo_media/listar" class="button">Volver al listado</a>
    </div>

    
</body>
</html>